<div class="mainContainer">
  <div class="catalogo">
    <h1>Catálogo</h1>
    {{#if listProducts.length}}
      <section class="productsContainer">
        {{#each listProducts}}
          <div class="productCard">
            <img src={{thumbnail}} alt="{{description}}" />
            <div class="productCardInfo">
              <h3>{{title}}</h3>
              <p>{{description}}</p>
              <div class="inlineItems">
                <span>${{price}}</span>
                <select id="products" name="products">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
              <button id="{{id}}" class="addButton">Agregar al Carrito</button>
            </div>
          </div>
        {{/each}}
      </section>
    {{else}}
      <h3>Error cargando los productos</h3>
    {{/if}}
    <br />
    <br />
    {{#if hasPrevPage}}
      <a href={{prevLink}}><button class="btnLinks">Anterior</button></a>
    {{/if}}

    {{#if hasNextPage}}
      <a href={{nextLink}}><button class="btnLinks">Siguiente</button></a>
    {{/if}}
  </div>
</div>

<script src="/js/products.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>